.general_container {
    display: flex;
    width: 100%;
    height: 100dvh;

    --form-width: 500px;
}

.carousel-container {
    position: relative;
    width: calc(100% - var(--form-width));
    height: 100%;
    // overflow: hidden;
    background-color: #432267;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 37%);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 300%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: auto;
    z-index: 2;
    display: flex;
    color: white;
    align-items: center;
}

.logo > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.square {
    position: absolute;
    width: 15px;
    height: 100%;
    background-color: var(--bg);
    z-index: 1;
    right: 0;
    border-radius: 0px 8px 8px 0px;
}

.welcome {
    position: absolute;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 0px 8px 8px 0px;
    width: fit-content;
    top: 20px;
    right: 0px;
    z-index: 2;
    transform: translateX(calc(100% - 15px));
    box-shadow: 1px 1px 5px rgb(0 0 0 / 37%);
    color: var(--primary-color);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* Por defecto oculto */
    transition: opacity 1s ease-in-out;
    /* Transición suave de 1 segundo */
    border-radius: 0px 8px 8px 0px;
}

.slide.active {
    opacity: 1;
    /* Solo la imagen activa es visible */
    z-index: 1;
}

.slide img {
    // width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen para llenar el espacio sin deformarse */
    object-position: center;
    border-radius: 0px 8px 8px 0px;
}

.right {
    width: var(--form-width);
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right > * {
    width: 80%;
}

.right > h2 {
    width: fit-content;
}





$color-line: #E0E0E0;     /* Un gris muy suave (como el borde de tus inputs) */

.separator-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0; /* Un poco de aire arriba y abajo */
}

.line {
  flex-grow: 1; /* Hace que la línea ocupe todo el espacio disponible */
  height: 1px;  /* El grosor de la línea */
  background-color: $color-line;
}

.separator-text {
  padding: 0 1rem; /* Espacio a los lados de la letra "O" */
  color: $color-line;
//   font-family: 'Lato', sans-serif;
  font-weight: 400; /* Letra normal, no negrita según la foto */
  font-size: 0.9rem;
}


.remember {
        display: flex;
    justify-content: space-between;
    margin: 20px;
}

.register_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}