.general_container {
    height: 100dvh;
    width: 100dvw;
    display: flex;    
    background-color: #d9d9d9;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-aside {
    z-index: 2;
}